head
  link(href='main.css', rel='stylesheet')
  title Meteor日本語ドキュメント

body
  header.intro
    h1 Meteor
    h2 日本語ドキュメント

  div
    p
      | Meteorの日本語ドキュメントです。
      br
      | 翻訳を手伝ってくださる方を募集しています。
      br
      | GitHubからご連絡ください。
    a(href='https://github.com/meteor-fan/meteor-docs-ja')
      button GitHub

  section.documents
    h1 日本語ドキュメント
    ul
      li
        a(href="basic-1.2.1.html")
          button Basic Docs
      li
        a(href='full-1.2.1.html')
          button Full API
      li
        a(href='guide-1.2.html')
          button Guide

  footer.footer
    p
      | 本プロジェクトは有志による非公式プロジェクトです。
      br
      | 本家Meteor (MDG)が管理するプロジェクトではありません。
